body {
      text-align: center;
      font-family: 'Roboto', sans-serif;
}
#searchBar {
      margin-top: 10px;
      width: 100%;
      height: 35px;
      position: relative;
}

#searchButton {
      margin-top: 50px;
      width: 100px;
      border-style: solid;
      border-width: 1px;
      border-radius: 0px;
      height: 35px;
      background-color: #87c2a0;
}

.container.search {
      margin-top: 100px;'
}

.container.search.post {
      margin: 0px;
      padding-left: 0px;
      width: 100%;
      text-align: left;
}

.logo {
      font-size: 5em;
      font-family: 'Indie Flower', cursive;
}

.post .logo {
      margin-top: 10px;
      font-size: 1.3em;

}

.post #searchButton {
      margin-top: -2px;
}

.post #searchBar {
      margin-top: 10px;
      width: 75%
}

#searchHeader {
      background-color: #fafafa;
      padding-left: 2em;
      padding-bottom: 1em;
}

#results {
      border-top: lightgray solid 1px;
      padding-left: 5em;
      padding-top: 1em
}

.result {
      margin-bottom: 15px;
}

.amazon.result {
      border: #ff9900 solid 2px;
      background-color: #fce6a9;
      border-radius: 4px;
      height: 100%;
      width: 70%;
      text-align: center;
      margin-bottom: 10px;
      padding: 10px;
}


/*
pace  css from http://github.hubspot.com/pace/docs/welcome/
*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #87c2a0;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
